# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib

| Data Science Tools        |
|---------------------------|
| Jupyter Notebooks         |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- List Data Science Tools
- Demonstrate arithmetic operations in Python
- Convert units of time in Python

## Author
Bobur Begmatov